{% extends 'base.html' %} 
{% block head %}
<title>Change Password</title>
{% endblock %}

{% block body %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

{% endblock %}