{% extends 'base.html' %} 
{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <p>
        You can log in here!
    </p>
    <h2>
        Login
    </h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

{% endblock %}