{% extends 'base.html' %} 
{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <h1>Enter new password</h1>
    <p>
            Please enter your new password twice so we can verify you typed it in correctly.
    </p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change My Password</button>
    </form>

{% endblock %}