{% extends 'base.html' %} {% block head %}
<title>Reset Completed</title>
{% endblock %} {% block body %}
<h1>Password reset complete</h1>
<p>Your password has been successfully reset. Please head to the <a href="{% url 'accounts:login' %}">login</a> page.</p>
{% endblock %}