{% extends 'base.html' %} 
{% block head %}
<title>{{ user }}'s Profile</title>
{% endblock %}

{% block body %}
    <h1>Profile</h1>
    <a href="{% url 'accounts:edit_profile' %}">Edit Profile</a> |              
    <a href="{% url 'accounts:change_password' %}">Change Password</a>

    <p>
         
        
        
        
    </p>
    <p>Username: {{ user }}</p>
    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Description: {{ user.userprofile.description }}</p>
    <p>City: {{ user.userprofile.city }}</p>
    <p>Website: <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a></p>
    <div><img src="{{ user.userprofile.image.url }}" width="240"></div>

{% endblock %}