{% extends 'base.html' %}
{% block head %} <title>Register</title> {% endblock %}
{% block body %} 

<h1>Register</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
</form>


{% endblock %}


