{% extends 'base.html' %} 
{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
    <h1>Password Reset</h1>
    <p>
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
    </p>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>

{% endblock %}