<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/bootstrap.min.css' %}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}" type="text/css"> {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Untitled</title>
    {% endblock %}
</head>

<body>
    <br>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Untitled</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">

                    {% if user.is_authenticated %}

                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="{% url 'accounts:home' %}">Home</a>
                        </li>
                        
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'accounts:view_profile' %}">Profile</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:logout' %}">Log out</a>
                        </li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'accounts:reset_password' %}">Reset Password</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'accounts:login' %}">Log in</a>
                        </li>
                        <li>
                            <a href="{% url 'accounts:register' %}">Register</a>
                        </li>
                        
                        
                    </ul>
                    {% endif %}
                </div>
            </div>
            <!--/.nav-collapse -->

    </div>
    <!--/.container-fluid -->
    </nav>

    <div class="container">
        {% block body %} {% endblock %}
    </div>





    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'accounts/js/bootstrap.min.js' %}"></script>

</body>

</html>